<div id="about" class="container mt-4">
    <div class="card w-100 mx-auto about-card">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="/static/images/Vignesh headshot.JPG" class="img-fluid rounded-5" alt="Vignesh Headshot">
            </div>
            <div  class="col-md-9">
                <div  class="card-body text-center">
                    <h5 class="card-title" >About</h5>
                    <p class="card-text">Tech enthusiast and passionate programmer with a strong interest in AI and machine learning. Currently pursuing an M.S. in Data Science at Northeastern University, I aim to build impactful AI-driven products that solve real-world problems. With experience in cloud DevOps, scalable systems, and data pipelines, I’m driven to bridge the gap between technology and everyday life. Let’s connect to innovate and make a difference!</p>
                </div>
                <div class="card-body text-center">
                    <!-- LinkedIn icon with link -->
                    <a class="icon-link" href="https://www.linkedin.com/in/vigneshrb/" target="_blank">
                        <i class="bi bi-linkedin"></i> 
                    </a>
                    <a class="icon-link icon" href="https://github.com/vigneshrb250" target="_blank">
                        <i class="bi bi-github"></i> 
                    </a>
                    <a class="icon-link icon" href="https://x.com/VIGNESHRB4" target="_blank">
                        <i class="bi bi-twitter-x"></i>
                    </a>
                </div>

                <!-- <div class="card-body text-center mt-1">
                    <button type="button" class="btn btn-primary btn-sm">Resume</button>
                </div> -->
            </div>
        </div>
    </div>
</div>