<div id="experience" class="container mt-4 mb-4">
    <div class="card  mx-auto">
       <div class="row g-0">
          <div class="col-md-2">
            <div class="card-body">
              <p class="card-text">2021 &ndash; 2023</p>
            </div>
          </div>

          <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">
                    Cloud Dev-Ops Engineer &middot; Wipro
                </h5>
                <p class="card-text">Developed and deployed AI-powered chatbots to streamline cloud resource management by providing intelligent recommendations and automating resource provisioning across platforms such as AWS and Azure. These solutions enabled users to efficiently select and configure cloud resources, reducing manual effort, enhancing operational efficiency, and delivering a seamless user experience.</p>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">Python</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">ServiceNow</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">AWS</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">GraphQL</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">Docker</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">Terraform</a>
                <a href="#" class="btn btn-secondary btn-lg btn-circle btn-sm disabled" role="button" aria-disabled="true">Jenkins</a>
            </div>
          </div>

       </div>


    </div>
</div>