<div id="projects" class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="col">
            <div class="card h-100 card-project">
                <img src="/static/images/hubermangpt.jpg" class="card-img-top proj-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HubermanGPT</h5>
                    <p class="card-text">This project focuses on fine-tuning a large language model (LLM) to answer health and fitness questions grounded in neuroscience. The training dataset was curated by scraping transcripts from Dr. Andrew Huberman’s YouTube podcasts. Fine-tuning was performed using the Mistral-7B Instruct model with QLoRA, enabling parameter-efficient adaptation. </p>
                </div>
                <a href="https://huggingface.co/vignesh0007/Hubermangpt" class="stretched-link"> 
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 card-project">
                <img src="/static/images/VQA-proj-4.jpg" class="card-img-top proj-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visual Question Answering Bot</h5>
                    <p class="card-text">This project is a multi-modal Visual Question Answering (VQA) system that interprets images and answers questions about them. By leveraging computer vision and natural language processing techniques, the model combines visual and textual understanding to provide meaningful responses.</p>
                </div>
                <a href="https://github.com/abhikothari091/Visual-Question-Answering-bot" class="stretched-link"> 
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 card-project ">
                <img src="/static/images/composites-proj1.jpg" class="card-img-top proj-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Impact Damage Estimation and Localization in Composite Sandwich Plates Using Deep Learning</h5>
                    <p class="card-text">A novel method for the simultaneous estimation and localization of impact damage in composite sandwich plates using branched neural network. The dataset consists of 25 specimens, with low-velocity impact damage varying in impact energy and impact location. </p>
                </div>
                <a href="https://ieeexplore.ieee.org/abstract/document/10346774" class="stretched-link"> 
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 card-project">
                <img src="/static/images/sports-analytics-proj-2.jpg" class="card-img-top proj-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Real Time Ball Impact Localization on Table Tennis Racket Using Neural Network</h5>
                    <p class="card-text">A novel method for the impact localization of a ball on a table tennis racket by training a neural network on the vibration data obtained from three piezoelectric sensors mounted on one side of the racket.</p>
                </div>
                <a href="#" class="stretched-link"> 
                </a>
            </div>
            
        </div>
        <div class="col">
            <div class="card h-100 card-project">
                <img src="/static/images/mental-health-proj3.webp" class="card-img-top proj-img" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Impact of Lifestyle and Mental Health on Academics</h5>
                    <p class="card-text">This study explores the intricate relationship between lifestyle choices, mental health, and academic performance among international students. By analyzing synthetic data based on real-world challenges faced by this demographic, we identify factors influencing both mental well-being and academic success.</p>
                </div>
                <a href="https://github.com/abhikothari091/Impact_of_Lifestyle_on_Mental_Health_and_Academic_Sucess" class="stretched-link"> 
                </a>
            </div>
            <a href="#" class="stretched-link"> 
            </a>
        </div>
        
        
        <a href="#" class="stretched-link"> 
        </a>
    </div>
</div>